<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjIxkNBi9YyizvxZVsFqV6GnnZl7MbLf8</string>
	<key>GCM_SENDER_ID</key>
	<string>791026056113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poetizamesarau</string>
	<key>PROJECT_ID</key>
	<string>poetizame-sarau</string>
	<key>STORAGE_BUCKET</key>
	<string>poetizame-sarau.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791026056113:ios:214f6fb59b3a4238849b90</string>
</dict>
</plist>